<div class="imgbackground">
    <table class="table"">
      <tbody>
        <tr>
          <td class="align-middle">
            <div class="container welcome">
              <h2><strong>Welcome to</strong></h2>
              <h1 class="display-4"> Leftoverrs!</h1>
              <br>
              <a class="btn btn-primary btn-lg" href="<%= new_user_path() %>" role="button">Sign Up</a>
              <a class="btn btn-primary btn-lg" href="<%= login_path() %>" role="button">Login</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
